<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>funny &#8211; Engineering Cruft</title>
	<atom:link href="https://www.josephjtroberts.com/tag/funny/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.josephjtroberts.com/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>
	Sun, 05 May 2019 00:34:29 +0000	</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.1.1</generator>
	<item>
		<title>This is a Standard Post</title>
		<link>https://www.josephjtroberts.com/2018/11/03/standard-post/</link>
				<comments>https://www.josephjtroberts.com/2018/11/03/standard-post/#respond</comments>
				<pubDate>Sat, 03 Nov 2018 17:40:25 +0000</pubDate>
		<dc:creator><![CDATA[jjtroberts]]></dc:creator>
				<category><![CDATA[Cooking]]></category>
		<category><![CDATA[News]]></category>
		<category><![CDATA[blogging]]></category>
		<category><![CDATA[funny]]></category>
		<category><![CDATA[new]]></category>

		<guid isPermaLink="false">http://www.competethemes.com/tracks-two-column-demo/?p=44</guid>
				<description><![CDATA[This is what an ordinary post looks like, and you’re reading a custom excerpt right now. Have fun looking around the theme, and don’t forget to check it out on your phone!<div class="more-link-wrapper"><a class="more-link" href="https://www.josephjtroberts.com/2018/11/03/standard-post/">Continue reading<span class="screen-reader-text">This is a Standard Post</span></a></div>]]></description>
								<content:encoded><![CDATA[<p><span style="color: #000000">Nam auctor a purus vel venenatis. Quisque magna nibh, cursus ac nisl nec, porta porttitor arcu. Nam sapien magna, semper ut lectus nec, fermentum rutrum arcu. Morbi quis est vitae erat aliquam adipiscing lacinia non libero. Quisque ac eros turpis.</span></p>
<h2>Maecenas convallis leo tempor</h2>
<p>Est egestas, non facilisis nisl mattis. Nunc a fermentum tortor. Nulla vehicula nunc tortor, <a href="http://www.competethemes.com/tracks-two-column-demo/">eu sagittis dui</a> dictum a. Integer erat urna, gravida eu cursus non, posuere nec quam.</p>
<blockquote><p>Nullam sit amet orci turpis. Mauris egestas dictum porttitor.</p></blockquote>
<p>Cras congue mi sit amet ullamcorper dapibus. Vestibulum pulvinar rutrum odio, et mollis elit blandit sit amet.</p>
<p>Suspendisse semper</p>
<ul>
<li>elit eu volutpat tincidunt</li>
<li>ante augue sodales justo</li>
<li>auctor mattis mi dui at elit</li>
<li>duis vel porttitor tellus</li>
</ul>
<p>Aenean vestibulum volutpat est ut vestibulum.</p>
<p><img class="alignleft size-medium wp-image-71" src="https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-300x169.jpg" alt="raspberries in a cup" width="300" height="169" srcset="https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-300x169.jpg 300w, https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-768x432.jpg 768w, https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-1024x576.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<p>Pellentesque mauris ante, elementum sed arcu id, tincidunt venenatis neque. Aliquam consectetur magna ut adipiscing molestie. Phasellus faucibus pretium odio.</p>
<p>Ut ut lacus est. Nam consectetur nulla eget nibh auctor fermentum. Aenean <a href="http://www.competethemes.com/tracks-two-column-demo/">feugiat semper arcu</a>, id suscipit enim fermentum et. Curabitur tellus neque, eleifend et turpis dictum, lacinia porta nibh.</p>
<p>Nulla sed tincidunt felis. Phasellus malesuada sed metus nec tristique. Duis semper, eros nec aliquet lacinia, tortor erat interdum dui, non vestibulum massa odio et dui. Pellentesque in nibh libero. Sed at velit fermentum, porttitor nisi eu, condimentum orci.</p>
<h3>Aliquam vestibulum orci</h3>
<p>sit amet risus cursus, nec lobortis magna aliquam. Fusce <strong>in mauris neque</strong>. Etiam vitae felis mauris. Vestibulum eu odio at velit varius hendrerit tempus vel libero. Vivamus ultricies sapien sed posuere scelerisque. Aliquam mattis eros et semper laoreet.</p>
<blockquote><p>Donec eget consequat sem. Suspendisse sit amet varius justo.</p></blockquote>
<p>Cras congue ac orci quis consequat. Sed purus libero, volutpat non facilisis et, adipiscing sed lacus. Vestibulum aliquam porta quam, vel varius tortor eleifend eu.</p>
<h3>Donec at erat et sem bibendum hendrerit</h3>
<p><strong>Vestibulum turpis augue, rhoncus a laoreet sed</strong>, vestibulum a nunc. Fusce semper pretium massa sit amet mollis. Proin sit amet condimentum nulla, vitae cursus est. Integer id tempor elit, sed commodo est. Sed <a href="http://www.competethemes.com/tracks-two-column-demo/">sollicitudin nibh faucibus</a>, vulputate turpis at, imperdiet mi.</p>
<p>Ut venenatis mauris vel consectetur convallis. Donec scelerisque at eros eu convallis. Nulla consequat ut eros et auctor.</p>
<p><em>Sed venenatis nisi vitae turpis dictum sollicitudin. Nunc quis metus porttitor neque luctus ultricies.</em></p>
]]></content:encoded>
							<wfw:commentRss>https://www.josephjtroberts.com/2018/11/03/standard-post/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>A Post with Lots of Comments</title>
		<link>https://www.josephjtroberts.com/2018/10/29/post-comments/</link>
				<comments>https://www.josephjtroberts.com/2018/10/29/post-comments/#respond</comments>
				<pubDate>Mon, 29 Oct 2018 17:40:25 +0000</pubDate>
		<dc:creator><![CDATA[jjtroberts]]></dc:creator>
				<category><![CDATA[Gaming]]></category>
		<category><![CDATA[News]]></category>
		<category><![CDATA[funny]]></category>
		<category><![CDATA[video games]]></category>

		<guid isPermaLink="false">http://www.competethemes.com/tracks-two-column-demo/?p=26</guid>
				<description><![CDATA[This post has a lot of comments on it. See how your site will look with Author when the discussion heats up.<div class="more-link-wrapper"><a class="more-link" href="https://www.josephjtroberts.com/2018/10/29/post-comments/">Continue reading<span class="screen-reader-text">A Post with Lots of Comments</span></a></div>]]></description>
								<content:encoded><![CDATA[<p><span style="color: #000000">Suspendisse venenatis quam lacus, ac aliquam mauris vehicula ac. Duis pellentesque est sapien, nec porttitor enim dapibus id. Sed a adipiscing nisl, eu dictum risus. Curabitur quis egestas odio, ac tincidunt neque.</span></p>

<a href='https://www.josephjtroberts.com/above-clouds-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/above-clouds-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/horses-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/horses-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/jellyfish-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/jellyfish-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/city-blurred-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/city-blurred-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/scooter-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/scooter-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/chillin-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/chillin-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>

<p>This gallery was made using WordPress&#8217; built-in gallery functionality.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.josephjtroberts.com/2018/10/29/post-comments/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
