<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>blogging &#8211; Engineering Cruft</title>
	<atom:link href="https://www.josephjtroberts.com/tag/blogging/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.josephjtroberts.com/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>
	Sun, 05 May 2019 00:34:29 +0000	</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.1.1</generator>
	<item>
		<title>This is a Standard Post</title>
		<link>https://www.josephjtroberts.com/2018/11/03/standard-post/</link>
				<comments>https://www.josephjtroberts.com/2018/11/03/standard-post/#respond</comments>
				<pubDate>Sat, 03 Nov 2018 17:40:25 +0000</pubDate>
		<dc:creator><![CDATA[jjtroberts]]></dc:creator>
				<category><![CDATA[Cooking]]></category>
		<category><![CDATA[News]]></category>
		<category><![CDATA[blogging]]></category>
		<category><![CDATA[funny]]></category>
		<category><![CDATA[new]]></category>

		<guid isPermaLink="false">http://www.competethemes.com/tracks-two-column-demo/?p=44</guid>
				<description><![CDATA[This is what an ordinary post looks like, and you’re reading a custom excerpt right now. Have fun looking around the theme, and don’t forget to check it out on your phone!<div class="more-link-wrapper"><a class="more-link" href="https://www.josephjtroberts.com/2018/11/03/standard-post/">Continue reading<span class="screen-reader-text">This is a Standard Post</span></a></div>]]></description>
								<content:encoded><![CDATA[<p><span style="color: #000000">Nam auctor a purus vel venenatis. Quisque magna nibh, cursus ac nisl nec, porta porttitor arcu. Nam sapien magna, semper ut lectus nec, fermentum rutrum arcu. Morbi quis est vitae erat aliquam adipiscing lacinia non libero. Quisque ac eros turpis.</span></p>
<h2>Maecenas convallis leo tempor</h2>
<p>Est egestas, non facilisis nisl mattis. Nunc a fermentum tortor. Nulla vehicula nunc tortor, <a href="http://www.competethemes.com/tracks-two-column-demo/">eu sagittis dui</a> dictum a. Integer erat urna, gravida eu cursus non, posuere nec quam.</p>
<blockquote><p>Nullam sit amet orci turpis. Mauris egestas dictum porttitor.</p></blockquote>
<p>Cras congue mi sit amet ullamcorper dapibus. Vestibulum pulvinar rutrum odio, et mollis elit blandit sit amet.</p>
<p>Suspendisse semper</p>
<ul>
<li>elit eu volutpat tincidunt</li>
<li>ante augue sodales justo</li>
<li>auctor mattis mi dui at elit</li>
<li>duis vel porttitor tellus</li>
</ul>
<p>Aenean vestibulum volutpat est ut vestibulum.</p>
<p><img class="alignleft size-medium wp-image-71" src="https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-300x169.jpg" alt="raspberries in a cup" width="300" height="169" srcset="https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-300x169.jpg 300w, https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-768x432.jpg 768w, https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-1024x576.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<p>Pellentesque mauris ante, elementum sed arcu id, tincidunt venenatis neque. Aliquam consectetur magna ut adipiscing molestie. Phasellus faucibus pretium odio.</p>
<p>Ut ut lacus est. Nam consectetur nulla eget nibh auctor fermentum. Aenean <a href="http://www.competethemes.com/tracks-two-column-demo/">feugiat semper arcu</a>, id suscipit enim fermentum et. Curabitur tellus neque, eleifend et turpis dictum, lacinia porta nibh.</p>
<p>Nulla sed tincidunt felis. Phasellus malesuada sed metus nec tristique. Duis semper, eros nec aliquet lacinia, tortor erat interdum dui, non vestibulum massa odio et dui. Pellentesque in nibh libero. Sed at velit fermentum, porttitor nisi eu, condimentum orci.</p>
<h3>Aliquam vestibulum orci</h3>
<p>sit amet risus cursus, nec lobortis magna aliquam. Fusce <strong>in mauris neque</strong>. Etiam vitae felis mauris. Vestibulum eu odio at velit varius hendrerit tempus vel libero. Vivamus ultricies sapien sed posuere scelerisque. Aliquam mattis eros et semper laoreet.</p>
<blockquote><p>Donec eget consequat sem. Suspendisse sit amet varius justo.</p></blockquote>
<p>Cras congue ac orci quis consequat. Sed purus libero, volutpat non facilisis et, adipiscing sed lacus. Vestibulum aliquam porta quam, vel varius tortor eleifend eu.</p>
<h3>Donec at erat et sem bibendum hendrerit</h3>
<p><strong>Vestibulum turpis augue, rhoncus a laoreet sed</strong>, vestibulum a nunc. Fusce semper pretium massa sit amet mollis. Proin sit amet condimentum nulla, vitae cursus est. Integer id tempor elit, sed commodo est. Sed <a href="http://www.competethemes.com/tracks-two-column-demo/">sollicitudin nibh faucibus</a>, vulputate turpis at, imperdiet mi.</p>
<p>Ut venenatis mauris vel consectetur convallis. Donec scelerisque at eros eu convallis. Nulla consequat ut eros et auctor.</p>
<p><em>Sed venenatis nisi vitae turpis dictum sollicitudin. Nunc quis metus porttitor neque luctus ultricies.</em></p>
]]></content:encoded>
							<wfw:commentRss>https://www.josephjtroberts.com/2018/11/03/standard-post/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Another Awesome Post</title>
		<link>https://www.josephjtroberts.com/2018/11/02/awesome-post/</link>
				<comments>https://www.josephjtroberts.com/2018/11/02/awesome-post/#respond</comments>
				<pubDate>Fri, 02 Nov 2018 17:40:25 +0000</pubDate>
		<dc:creator><![CDATA[jjtroberts]]></dc:creator>
				<category><![CDATA[Fashion]]></category>
		<category><![CDATA[Gaming]]></category>
		<category><![CDATA[blogging]]></category>
		<category><![CDATA[cooking]]></category>
		<category><![CDATA[fashion]]></category>
		<category><![CDATA[food]]></category>

		<guid isPermaLink="false">http://www.competethemes.com/tracks-two-column-demo/?p=19</guid>
				<description><![CDATA[Quisque dapibus, velit eget ullamcorper suscipit, sapien ligula hendrerit lectus, vitae tristique sapien velit ac lectus. Mauris ullamcorper nisi sit amet est vestibulum interdum. Integer&#8230;<div class="more-link-wrapper"><a class="more-link" href="https://www.josephjtroberts.com/2018/11/02/awesome-post/">Continue reading<span class="screen-reader-text">Another Awesome Post</span></a></div>]]></description>
								<content:encoded><![CDATA[<p><span style="color: #000000">Quisque dapibus, velit eget ullamcorper suscipit, sapien ligula hendrerit lectus, vitae tristique sapien velit ac lectus. Mauris ullamcorper nisi sit amet est vestibulum interdum. Integer venenatis rutrum ipsum. Pellentesque sollicitudin turpis eu nibh ornare, eu pretium risus pharetra. </span></p>
<p><a href="https://www.josephjtroberts.com/wp-content/uploads/2015/02/ocean-cliff.jpeg"><img class="aligncenter size-large wp-image-111" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/ocean-cliff-1024x683.jpeg" alt="ocean-cliff" width="1024" height="683" /></a></p>
<p>Est egestas, non facilisis nisl mattis. Nunc a fermentum tortor. Nulla vehicula nunc tortor, <a href="http://www.competethemes.com/tracks-two-column-demo/">eu sagittis dui</a> dictum a. Integer erat urna, gravida eu cursus non, posuere nec quam.</p>
<h2>1. Nullam sit amet orci turpis.</h2>
<p>Cras congue mi sit amet ullamcorper dapibus. Vestibulum pulvinar rutrum odio, et mollis elit blandit sit amet.</p>
<p>Suspendisse semper</p>
<ul>
<li>elit eu volutpat tincidunt</li>
<li>ante augue sodales justo</li>
<li>auctor mattis mi dui at elit</li>
<li>duis vel porttitor tellus</li>
</ul>
<h2>2. Aenean vestibulum volutpat est ut vestibulum.</h2>
<p>Pellentesque mauris ante, elementum sed arcu id, tincidunt venenatis neque. Aliquam consectetur magna ut adipiscing molestie.</p>
<ul>
<li>Phasellus faucibus pretium odio.</li>
<li>Ut ut lacus est.</li>
<li>Nam consectetur nulla eget nibh auctor fermentum.</li>
<li>Aenean <a href="http://www.competethemes.com/tracks-two-column-demo/">feugiat semper arcu</a></li>
</ul>
<p>id suscipit enim fermentum et. Curabitur tellus neque, eleifend et turpis dictum, lacinia porta nibh.</p>
<p>Nulla sed tincidunt felis.</p>
<h2>3. Phasellus malesuada sed metus nec tristique</h2>
<p>Duis semper, eros nec aliquet lacinia, tortor erat interdum dui, non vestibulum massa odio et dui. Pellentesque in nibh libero. Sed at velit fermentum, porttitor nisi eu, condimentum orci.</p>
<p>Sit amet risus cursus, nec lobortis magna aliquam. Fusce <strong>in mauris neque</strong>. Etiam vitae felis mauris. Vestibulum eu odio at velit varius hendrerit tempus vel libero. Vivamus ultricies sapien sed posuere scelerisque. Aliquam mattis eros et semper laoreet.</p>
<h2>Donec eget consequat sem</h2>
<p>Cras congue ac orci quis consequat. Sed purus libero, volutpat non facilisis et, adipiscing sed lacus. Vestibulum aliquam porta quam, vel varius tortor eleifend eu.</p>
<h3>Donec at erat et sem bibendum hendrerit</h3>
<p><strong>Vestibulum turpis augue, rhoncus a laoreet sed</strong>, vestibulum a nunc. Integer id tempor elit, sed commodo est. Sed <a href="http://www.competethemes.com/tracks-two-column-demo/">sollicitudin nibh faucibus</a>, vulputate turpis at, imperdiet mi.</p>
<blockquote><p>Ut venenatis mauris vel consectetur convallis. Donec scelerisque at eros eu convallis. Nulla consequat ut eros et auctor. Fusce semper pretium massa sit amet mollis. Proin sit amet condimentum nulla, vitae cursus est.</p></blockquote>
<p><em>Sed venenatis nisi vitae turpis dictum sollicitudin. Nunc quis metus porttitor neque luctus ultricies.</em></p>
]]></content:encoded>
							<wfw:commentRss>https://www.josephjtroberts.com/2018/11/02/awesome-post/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Blogging for Fun &#038; Profit</title>
		<link>https://www.josephjtroberts.com/2018/10/28/blogging-for-fun-profit/</link>
				<comments>https://www.josephjtroberts.com/2018/10/28/blogging-for-fun-profit/#respond</comments>
				<pubDate>Sun, 28 Oct 2018 17:40:25 +0000</pubDate>
		<dc:creator><![CDATA[jjtroberts]]></dc:creator>
				<category><![CDATA[Design]]></category>
		<category><![CDATA[blogging]]></category>
		<category><![CDATA[money]]></category>
		<category><![CDATA[random]]></category>
		<category><![CDATA[wordpress]]></category>

		<guid isPermaLink="false">http://www.competethemes.com/tracks-two-column-demo/?p=38</guid>
				<description><![CDATA[Curabitur quis egestas odio, ac tincidunt neque. Cras egestas sapien eu egestas iaculis. Pellentesque et velit adipiscing, imperdiet urna vel, venenatis libero. Fusce semper tortor&#8230;<div class="more-link-wrapper"><a class="more-link" href="https://www.josephjtroberts.com/2018/10/28/blogging-for-fun-profit/">Continue reading<span class="screen-reader-text">Blogging for Fun &#038; Profit</span></a></div>]]></description>
								<content:encoded><![CDATA[<p><span style="color: #000000">Curabitur quis egestas odio, ac tincidunt neque. Cras egestas sapien eu egestas iaculis. Pellentesque et velit adipiscing, imperdiet urna vel, venenatis libero. Fusce semper tortor vel convallis blandit. Nullam vel tempor mi.</span></p>
<h2>Maecenas convallis leo tempor</h2>
<p>Est egestas, non facilisis nisl mattis. Nunc a fermentum tortor. Nulla vehicula nunc tortor, <a href="http://www.competethemes.com/tracks-two-column-demo/">eu sagittis dui</a> dictum a. Integer erat urna, gravida eu cursus non, posuere nec quam.</p>
<blockquote><p>Nullam sit amet orci turpis. Mauris egestas dictum porttitor.</p></blockquote>
<p>Cras congue mi sit amet ullamcorper dapibus. Vestibulum pulvinar rutrum odio, et mollis elit blandit sit amet.</p>
<p>Suspendisse semper</p>
<ul>
<li>elit eu volutpat tincidunt</li>
<li>ante augue sodales justo</li>
<li>auctor mattis mi dui at elit</li>
<li>duis vel porttitor tellus</li>
</ul>
<p>Aenean vestibulum volutpat est ut vestibulum.</p>
<p><img class="aligncenter size-large wp-image-71" src="https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-1024x576.jpg" alt="raspberries in a cup" width="1024" height="576" srcset="https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-1024x576.jpg 1024w, https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-300x169.jpg 300w, https://www.josephjtroberts.com/wp-content/uploads/2014/07/rasberries-768x432.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" /></p>
<p>Pellentesque mauris ante, elementum sed arcu id, tincidunt venenatis neque. Aliquam consectetur magna ut adipiscing molestie. Phasellus faucibus pretium odio.</p>
<p>Ut ut lacus est. Nam consectetur nulla eget nibh auctor fermentum. Aenean <a href="http://www.competethemes.com/tracks-two-column-demo/">feugiat semper arcu</a>, id suscipit enim fermentum et. Curabitur tellus neque, eleifend et turpis dictum, lacinia porta nibh.</p>
<p>Nulla sed tincidunt felis. Phasellus malesuada sed metus nec tristique. Duis semper, eros nec aliquet lacinia, tortor erat interdum dui, non vestibulum massa odio et dui. Pellentesque in nibh libero. Sed at velit fermentum, porttitor nisi eu, condimentum orci.</p>
<h3>Aliquam vestibulum orci</h3>
<p>sit amet risus cursus, nec lobortis magna aliquam. Fusce <strong>in mauris neque</strong>. Etiam vitae felis mauris. Vestibulum eu odio at velit varius hendrerit tempus vel libero. Vivamus ultricies sapien sed posuere scelerisque. Aliquam mattis eros et semper laoreet.</p>
<blockquote><p>Donec eget consequat sem. Suspendisse sit amet varius justo.</p></blockquote>
<p>Cras congue ac orci quis consequat. Sed purus libero, volutpat non facilisis et, adipiscing sed lacus. Vestibulum aliquam porta quam, vel varius tortor eleifend eu.</p>
<h3>Donec at erat et sem bibendum hendrerit</h3>
<p><strong>Vestibulum turpis augue, rhoncus a laoreet sed</strong>, vestibulum a nunc. Fusce semper pretium massa sit amet mollis. Proin sit amet condimentum nulla, vitae cursus est. Integer id tempor elit, sed commodo est. Sed <a href="http://www.competethemes.com/tracks-two-column-demo/">sollicitudin nibh faucibus</a>, vulputate turpis at, imperdiet mi.</p>
<p>Ut venenatis mauris vel consectetur convallis. Donec scelerisque at eros eu convallis. Nulla consequat ut eros et auctor.</p>
<p><em>Sed venenatis nisi vitae turpis dictum sollicitudin. Nunc quis metus porttitor neque luctus ultricies.</em></p>
]]></content:encoded>
							<wfw:commentRss>https://www.josephjtroberts.com/2018/10/28/blogging-for-fun-profit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
