<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>foreign &#8211; Engineering Cruft</title>
	<atom:link href="https://www.josephjtroberts.com/tag/foreign/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.josephjtroberts.com/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>
	Sun, 05 May 2019 00:34:29 +0000	</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.1.1</generator>
	<item>
		<title>A Post Without an Image</title>
		<link>https://www.josephjtroberts.com/2018/11/01/change-your-look/</link>
				<comments>https://www.josephjtroberts.com/2018/11/01/change-your-look/#respond</comments>
				<pubDate>Thu, 01 Nov 2018 17:40:25 +0000</pubDate>
		<dc:creator><![CDATA[jjtroberts]]></dc:creator>
				<category><![CDATA[Design]]></category>
		<category><![CDATA[Fashion]]></category>
		<category><![CDATA[fashion]]></category>
		<category><![CDATA[foreign]]></category>
		<category><![CDATA[wordpress]]></category>

		<guid isPermaLink="false">http://www.competethemes.com/tracks-two-column-demo/?p=41</guid>
				<description><![CDATA[Don’t like using images? No problem! Every post will still look great.<div class="more-link-wrapper"><a class="more-link" href="https://www.josephjtroberts.com/2018/11/01/change-your-look/">Continue reading<span class="screen-reader-text">A Post Without an Image</span></a></div>]]></description>
								<content:encoded><![CDATA[<p><span style="color: #000000">Suspendisse venenatis quam lacus, ac aliquam mauris vehicula ac. Duis pellentesque est sapien, nec porttitor enim dapibus id. Sed a adipiscing nisl, eu dictum risus. Curabitur quis egestas odio, ac tincidunt neque.</span></p>

<a href='https://www.josephjtroberts.com/horses-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/horses-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/city-blurred-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/city-blurred-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/moose-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/moose-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/above-clouds-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/above-clouds-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/chillin-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/chillin-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>
<a href='https://www.josephjtroberts.com/jellyfish-2/'><img width="150" height="150" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/jellyfish-150x150.jpeg" class="attachment-thumbnail size-thumbnail" alt="" /></a>

<p>This gallery was made using WordPress&#8217; built-in gallery functionality.</p>
]]></content:encoded>
							<wfw:commentRss>https://www.josephjtroberts.com/2018/11/01/change-your-look/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
