<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: A Post with Lots of Comments	</title>
	<atom:link href="https://www.josephjtroberts.com/2018/10/29/post-comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.josephjtroberts.com/2018/10/29/post-comments/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>
	Sun, 05 May 2019 02:21:28 +0000	</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.1.1</generator>
</channel>
</rss>
