<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Travel &#8211; Engineering Cruft</title>
	<atom:link href="https://www.josephjtroberts.com/category/travel/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.josephjtroberts.com/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>
	Sun, 05 May 2019 00:34:29 +0000	</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.1.1</generator>
	<item>
		<title>A Totally Responsive Theme</title>
		<link>https://www.josephjtroberts.com/2018/10/31/responsive-theme/</link>
				<comments>https://www.josephjtroberts.com/2018/10/31/responsive-theme/#respond</comments>
				<pubDate>Wed, 31 Oct 2018 17:40:25 +0000</pubDate>
		<dc:creator><![CDATA[jjtroberts]]></dc:creator>
				<category><![CDATA[Travel]]></category>
		<category><![CDATA[fashion]]></category>
		<category><![CDATA[food]]></category>
		<category><![CDATA[images]]></category>

		<guid isPermaLink="false">http://www.competethemes.com/tracks-two-column-demo/?p=29</guid>
				<description><![CDATA[Don’t forget to load the site on your phone, tablet, and any other device you have. Author is a truly responsive WordPress theme.<div class="more-link-wrapper"><a class="more-link" href="https://www.josephjtroberts.com/2018/10/31/responsive-theme/">Continue reading<span class="screen-reader-text">A Totally Responsive Theme</span></a></div>]]></description>
								<content:encoded><![CDATA[<p><span style="color: #000000">Proin hendrerit vestibulum blandit. Donec suscipit imperdiet arcu a vestibulum. Sed nec viverra nisl. Nulla id dapibus nulla. Curabitur tempus a libero nec condimentum. Etiam non auctor nunc. </span></p>
<h2>Maecenas convallis leo tempor</h2>
<p>Est egestas, non facilisis nisl mattis. Nunc a fermentum tortor. Nulla vehicula nunc tortor, <a href="http://www.competethemes.com/tracks-two-column-demo/">eu sagittis dui</a> dictum a. Integer erat urna, gravida eu cursus non, posuere nec quam.</p>
<blockquote><p>Nullam sit amet orci turpis. Mauris egestas dictum porttitor.</p></blockquote>
<p>Cras congue mi sit amet ullamcorper dapibus. Vestibulum pulvinar rutrum odio, et mollis elit blandit sit amet.</p>
<p>Suspendisse semper</p>
<ul>
<li>elit eu volutpat tincidunt</li>
<li>ante augue sodales justo</li>
<li>auctor mattis mi dui at elit</li>
<li>duis vel porttitor tellus</li>
</ul>
<p>Aenean vestibulum volutpat est ut vestibulum.</p>
<p><img class="alignright size-medium wp-image-114" src="https://www.josephjtroberts.com/wp-content/uploads/2015/02/forest-300x200.jpeg" alt="forest" width="300" height="200" /></p>
<p>Pellentesque mauris ante, elementum sed arcu id, tincidunt venenatis neque. Aliquam consectetur magna ut adipiscing molestie. Phasellus faucibus pretium odio.</p>
<p>Ut ut lacus est. Nam consectetur nulla eget nibh auctor fermentum. Aenean <a href="http://www.competethemes.com/tracks-two-column-demo/">feugiat semper arcu</a>, id suscipit enim fermentum et. Curabitur tellus neque, eleifend et turpis dictum, lacinia porta nibh.</p>
<p>Nulla sed tincidunt felis. Phasellus malesuada sed metus nec tristique. Duis semper, eros nec aliquet lacinia, tortor erat interdum dui, non vestibulum massa odio et dui. Pellentesque in nibh libero. Sed at velit fermentum, porttitor nisi eu, condimentum orci.</p>
<h3>Aliquam vestibulum orci</h3>
<p>sit amet risus cursus, nec lobortis magna aliquam. Fusce <strong>in mauris neque</strong>. Etiam vitae felis mauris. Vestibulum eu odio at velit varius hendrerit tempus vel libero. Vivamus ultricies sapien sed posuere scelerisque. Aliquam mattis eros et semper laoreet.</p>
<blockquote><p>Donec eget consequat sem. Suspendisse sit amet varius justo.</p></blockquote>
<p>Cras congue ac orci quis consequat. Sed purus libero, volutpat non facilisis et, adipiscing sed lacus. Vestibulum aliquam porta quam, vel varius tortor eleifend eu.</p>
<h3>Donec at erat et sem bibendum hendrerit</h3>
<p><strong>Vestibulum turpis augue, rhoncus a laoreet sed</strong>, vestibulum a nunc. Fusce semper pretium massa sit amet mollis. Proin sit amet condimentum nulla, vitae cursus est. Integer id tempor elit, sed commodo est. Sed <a href="http://www.competethemes.com/tracks-two-column-demo/">sollicitudin nibh faucibus</a>, vulputate turpis at, imperdiet mi.</p>
<p>Ut venenatis mauris vel consectetur convallis. Donec scelerisque at eros eu convallis. Nulla consequat ut eros et auctor.</p>
<p><em>Sed venenatis nisi vitae turpis dictum sollicitudin. Nunc quis metus porttitor neque luctus ultricies.</em></p>
]]></content:encoded>
							<wfw:commentRss>https://www.josephjtroberts.com/2018/10/31/responsive-theme/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
