<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; Engineering Cruft</title>
	<atom:link href="https://www.josephjtroberts.com/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.josephjtroberts.com/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>
	Sun, 05 May 2019 00:34:29 +0000	</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.1.1</generator>
	<item>
		<title>Hello world!</title>
		<link>https://www.josephjtroberts.com/2019/05/05/hello-world/</link>
				<comments>https://www.josephjtroberts.com/2019/05/05/hello-world/#respond</comments>
				<pubDate>Sun, 05 May 2019 00:34:29 +0000</pubDate>
		<dc:creator><![CDATA[jjtroberts]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.josephjtroberts.com/?p=1</guid>
				<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
								<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
							<wfw:commentRss>https://www.josephjtroberts.com/2019/05/05/hello-world/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
